.container {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  
  .control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .control span {
    margin: 0 10px;
    color: white;
  }
  
  .button {
    cursor: pointer;
  }

  .cropped-image {
    height: 100vh;
    object-fit: cover;
  }